// @import (reference) '~@pinpt/uic.next/theme.less';

body {
	height: 100vh;

	:global(#root) {
		height: 100%;
	}
}

.Wrapper {
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	height: 100%;

	.Header {
		flex: 0 0 auto;
		display: flex;
		align-items: flex-start;
		padding: 4.0rem;
		border-bottom: 1px solid #E8E8EE;

		.Icon {
			width: 4.0rem;
			height: 4.0rem;
			flex: 0 0 4.0rem;
			margin-right: 2.0rem;
		}

		.Details {
			flex: 1 1 100%;
			display: flex;
			flex-direction: column;
			align-items: flex-start;

			.Title {
				display: flex;
				align-items: center;

				.Name {
					font-weight: 600;
					font-size: 1.5rem;
					flex: 0 0 auto;
				}

				.Tags {
					.Tag {
						padding: 0.4rem 1.0rem;
						display: inline-block;
						border-radius: 0.2rem;
						font-weight: 600;
						color: #8F93A9;
						background: #F3F4F6;
						// color: @Mono400;
						// background: @Mono100;
						margin-left: 1.0rem;
						font-size: 1.1rem;
					}
				}
			}

			.Description {
				margin: 1.0rem 0;
			}

			.Publisher {
				display: flex;
				align-items: center;
				color: #8F93A9;

				span {
					color: #8F93A9;
				}

				a {
					display: flex;
					align-items: center;
					text-decoration: none;

					&:hover {
						text-decoration: underline;
					}

					img {
						width: 1.7rem;
						height: 1.7rem;
						margin: 0.2rem 0.5rem;
					}
				}
			}
		}

		.Error {
			margin-top: 2.0rem;

			> div {
				text-align: left;
			}

			svg {
				margin-right: 0.8rem;
			}
		}
	}

	.Frame {
		flex: 1 1 100%;
		margin: 0;
		padding: 0;
	}
}