@import '../../../node_modules/@pinpt/uic.next/theme.less';

.Wrapper {
	display: flex;
	flex-direction: column;
	
	.Description {
		margin-bottom: 2.0rem;
	}

	.Accounts {
		.Account {
			display: flex;
			align-items: center;

			img {
				height: 2.3rem;
				margin: 0 1.0rem;
			}
		}

		.Subtext {
			color: @Mono400;
		}

		.EntityCount {
			color: @Mono400;
			margin: 0 2.0rem;
		}
	}
}