@import '../../../node_modules/@pinpt/uic.next/theme.less';

.Wrapper {
	display: flex;
	justify-content: center;

	.Content {
		flex: 0 1 500px;

		h3 {
			font-size: 2.1rem;
			color: @Royal500;
			font-weight: @FontWeightStrong;
			margin-bottom: 1.0rem;
		}

		p {
			margin-bottom: 2.0rem;
		}
	}
}